In [2]:
import pandas as pd 

df=pd.read_table("data_files/class.tsv")
numberCols, numberRows = df.shape
print('rows:', numberRows, 'columns:', numberCols)
print('column names')
df.columns

rows: 4 columns: 19
column names

Index(['Gender', 'Age', 'Height', 'Weight'], dtype='object')

In [3]:
# to get an overview of what is in your df check out df.describe()
print(df.describe())

             Age      Height     Weight
count  19.000000   19.000000  19.000000
mean   13.315789  158.335579  45.371937
std     1.492672   13.022771  10.330256
min    11.000000  130.302000  22.906800
25%    12.000000  147.955000  38.215800
50%    13.000000  159.512000  45.133200
75%    14.500000  167.386000  50.916600
max    16.000000  182.880000  68.040000

In [4]:
# select a single column, eg, Age
df['Age']

0     11
1     11
2     12
3     12
4     12
5     12
6     12
7     13
8     13
9     13
10    14
11    14
12    14
13    14
14    15
15    15
16    15
17    15
18    16
Name: Age, dtype: int64

In [5]:
# to get the stats on a single column type
df['Age'].describe()

count    19.000000
mean     13.315789
std       1.492672
min      11.000000
25%      12.000000
50%      13.000000
75%      14.500000
max      16.000000
Name: Age, dtype: float64

In [6]:
df_heart=pd.read_table("data_files/heartData_simplified.csv", sep=",", header=0)
df_heart['oldpeak'].describe()

count    296.000000
mean       1.059122
std        1.166474
min        0.000000
25%        0.000000
50%        0.800000
75%        1.650000
max        6.200000
Name: oldpeak, dtype: float64

In [7]:
# to get information on categorial data check out the counts
df['Gender'].value_counts()

Gender
M    10
F     9
Name: count, dtype: int64

In [8]:
df_heart['sex'].value_counts()

sex
male      201
female     95
Name: count, dtype: int64

In [11]:
i=0
for age in df['Age']:
    print("row",i,", age", age)
    i+=1

row 0 , age 11
row 1 , age 11
row 2 , age 12
row 3 , age 12
row 4 , age 12
row 5 , age 12
row 6 , age 12
row 7 , age 13
row 8 , age 13
row 9 , age 13
row 10 , age 14
row 11 , age 14
row 12 , age 14
row 13 , age 14
row 14 , age 15
row 15 , age 15
row 16 , age 15
row 17 , age 15
row 18 , age 16

In [15]:
groupedDF=df.groupby('Gender')
print(groupedDF['Age'].describe())

print(groupedDF['Height'].mean())

        count       mean       std   min   25%   50%    75%   max
Gender
F         9.0  13.222222  1.394433  11.0  12.0  13.0  14.00  15.0
M        10.0  13.400000  1.646545  11.0  12.0  13.5  14.75  16.0
Gender
F    153.895778
M    162.331400
Name: Height, dtype: float64

In [16]:
groupDF=df_heart.groupby('sex')
print(groupDF['thalach'].describe())

        count        mean        std   min    25%    50%    75%    max
sex
female   95.0  151.505263  19.803220  96.0  142.0  157.0  165.0  192.0
male    201.0  148.641791  24.317299  71.0  132.0  150.0  166.0  202.0

In [18]:
print(groupDF['target'].value_counts())

sex     target
female  no         71
        yes        24
male    yes       112
        no         89
Name: count, dtype: int64